.home {
  text-align: center;
  flex-direction: column;
  .avatar img {
    width: 220px;
    border-radius: 50%;
  }
  .title {
    font-weight: 400;
  }
  .description {
    margin: 30px;
  }
  .collapse-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
  .social-media {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 2px;
    &-icon img {
      width: 25px;
      border-radius: 50%;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.el {
  &-menu {
    justify-content: center;
  }
  &-footer {
    font-size: 12px;
    text-align: center;
  }
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
