.home {
  text-align: center;
  flex-direction: column;
}
.title {
  font-weight: 400;
}
.description {
  margin: 30px;
}
.collapse {
  margin-top: 50px;
}
.el-image img {
  width: 220px;
  border-radius: 50%;
}

.el-menu {
  justify-content: center;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
