body {
  margin: 0;
}
#app {
  position: relative;
  z-index: 2;
  main {
    min-height: 500px;
  }
}
canvas {
  position: fixed;
  top: 0;
}
footer {
  margin: 20px;
}
strong {
  color: rgba(255, 255, 255, 0.6);
}

.about {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.022);
  flex-direction: column;
  .avatar img {
    width: 220px !important;
    border-radius: 50%;
    opacity: 0.7;
  }
  .title {
    padding-top: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
  }
  .description {
    margin: 30px;
  }
  .collapse-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    * {
      color: rgba(255, 255, 255, 0.65);
    }
    p {
      padding: 0;
      margin: 2px;
    }
  }
  .social-media {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
    &-icon img {
      width: 25px !important;
      border-radius: 50%;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
.el-menu--horizontal > .el-sub-menu .el-sub-menu__title:hover {
  background-color: rgba(255, 255, 255, 0.01) !important;
}

.el {
  &-header {
    margin: 10px 0;
  }
  &-popper {
    border: 1px solid grey !important;
    background-color: rgba(255, 255, 255, 0.01) !important;
  }
  &-menu {
    justify-content: center;

    &-item {
      color: rgba(255, 255, 255, 0.6) !important;
    }
    &--horizontal {
      border: none;
    }
  }

  &-footer {
    font-size: 12px;
    text-align: center;
  }
  &-image {
    &__inner {
      max-width: 550px !important;
    }
  }
  &-button {
    background-color: rgba(0, 10, 29, 0.9) !important;
    span a {
      color: rgba(255, 255, 255, 0.9) !important;
    }
  }
  &-popover.el-popper {
    background-color: rgb(211, 206, 206) !important;
    color: rgb(0, 0, 0, 0.7) !important;
  }
  &-collapse {
    border: none !important;
    &-item {
      &__wrap {
        background-color: rgba(0, 0, 0, 0.2) !important;
        border-bottom-color: rgba(255, 255, 255, 0.6) !important;
      }
      &__header {
        color: rgba(190, 187, 187, 0.667) !important;
        border-bottom-color: rgba(255, 255, 255, 0.6) !important;
        background-color: none !important;
        background: none !important;
      }
      &__content {
        padding: 10px;
        margin-top: 20px;
        li {
          &::marker {
            font-size: 10px;
            color: rgba(190, 187, 187, 0.667);
          }
        }
      }
    }
  }
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.infinite-list {
  height: 500px;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none !important;
    }

    color: white;
    .article-content {
      padding: 10px;
      p {
        margin: 0;
      }
      span {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        font-size: 12px;
        text-decoration: none;
      }
    }
  }
}

.blog {
  background-color: rgba(255, 255, 255, 0.022);
}
.articles {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.bookmarks {
  background-color: rgba(255, 255, 255, 0.022);
  text-align: center;
  min-height: 450px;
  &-row {
    margin-left: auto;
    margin-right: auto;

    max-width: 700px;
  }
  h3 {
    margin-top: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.61);
  }
}

.home {
  background-color: rgba(255, 255, 255, 0.052);
  text-align: center;
  h1 {
    padding: 200px 0;
  }
}
.stack {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  img {
    align-self: center;
    justify-self: center;
    padding: 5px;
    height: 50px;
    object-fit: contain;
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 3px;
  }
}
.skeleton {
  display: flex;
  justify-content: center;
}

.article {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  text-align: center;
  &-content {
    h3,
    h6 {
      margin: 10px;
      color: rgb(255, 255, 255, 0.6);
    }
  }
}
